.img {
  height: 40px;
  width: 40px;
  border: none;
}
.container {
  background-color: white;
}

.container2 {
  height: 100vh;
  background: hsla(238, 100%, 71%, 1);

  background: linear-gradient(
    90deg,
    hsla(238, 100%, 71%, 1) 10%,
    hsla(152, 100%, 50%, 1) 71%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(238, 100%, 71%, 1) 10%,
    hsla(152, 100%, 50%, 1) 71%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(238, 100%, 71%, 1) 10%,
    hsla(152, 100%, 50%, 1) 71%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#696eff", endColorstr="#00FF87", GradientType=1 );
}

.homepage-container {
  position: relative;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mobile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.search-container {
  margin-bottom: 20px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
}

.card img {
  display: block;
  margin: 0 auto;
}

.card-info {
  text-align: center;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.product-container {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.product {
  border: 1px solid #ccc;
  padding: 10px;
  width: 200px;
}

.cart-container {
  margin-top: 50px;
}

button {
  padding: 5px 10px;
  cursor: pointer;
}

.search-box{
  margin-left: 350px;
  margin-top: 8px;
}

